# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
   1. Python
   2. R
   3. SQL
   4. Java
   5. Julia

Some of the commonly used libraries used by Data Scientists include:
   1. NumPy
   2. Pandas
   3. SciPy
   4. PyTorch
   5. Seaborn

In [ ]:
|Data Science Tools|
|---|
|Apache Spark|
|Apache Hadoop|
|Tensorflow|

|Data Science Tools|
|---|
|Apache Spark|
|Apache Hadoop|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objective__
* List Popular language for Data Science. *
* List down Tools for Data Science. *
* List some of the Git command. *
* List libraries for Data Science. *
* List some SQL Command. *

## Author
Prajjwal